* {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
}

.inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100px;
}

.cell {
    font-size: 2rem;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}